<form class="form-login"
     
      [formGroup]="form" novalidate>
  <input [attr.aria-label]="'login.form.email' |translate"
         autocomplete="username"
         autofocus
         class="form-control form-control-lg mb-2 position-relative"
         formControlName="email"
         placeholder="{{'login.form.email' | translate}}"
         required
         type="email"
         [attr.data-test]="'email' | dsBrowserOnly">
        <div class="text-danger text-left mb-1" *ngIf=" form.controls['email'].invalid">
          <small *ngIf="form.controls['email'].errors?.['required']">* Email is required.</small>
          
          </div>
  <input [attr.aria-label]="'login.form.password' |translate"
         autocomplete="current-password"
         class="form-control form-control-lg position-relative mb-2"
         placeholder="{{'login.form.password' | translate}}"
         formControlName="password"
         required
         type="password"
         [attr.data-test]="'password' | dsBrowserOnly">
        <div class="text-danger text-left" *ngIf="form.controls['password'].touched && form.controls['password'].invalid">
          <small *ngIf="form.controls['password'].errors?.['required']">* Password is required.</small>
          </div>
  <select [attr.aria-label]="'User Type'"
          class="form-control form-control-lg position-relative mb-2"
          formControlName="usertype"
          [attr.data-test]="'usertype' | dsBrowserOnly">
    <option value="internal">Internal</option>
    <option value="external">External</option>
  </select>
  <div *ngIf="(error | async) && hasError" class="alert alert-danger" role="alert"
       @fadeOut>{{ (error | async) | translate }}</div>
  <div *ngIf="(message | async) && hasMessage" class="alert alert-info" role="alert"
       @fadeOut>{{ (message | async) | translate }}</div>
      <!-- <button class="btn btn-lg btn-primary btn-block mt-3" [disabled]="!form.valid || isTimerRunning " (click)="submitLoginCreds()" [attr.data-test]="'login-button' | dsBrowserOnly"
        ><img class="" src="assets/images/WhatsApp.svg.png" style="width: 30px;">
        {{"login.form.getOtP" | translate}} <span class="ml-3 ">{{ isTimerRunning ? 'Resend OTP in ' + timer + 's' : '' }}</span></button> -->

        <!-- <input [attr.aria-label]="'login.form.otp' |translate" autocomplete="username" autofocus
          class="form-control form-control-lg mb-2 mt-4 position-relative" formControlName="otp" type="number"
          placeholder="{{'login.form.otp' | translate}}" type="text" [attr.data-test]="'otp' | dsBrowserOnly"> -->


  <button class="btn btn-lg btn-primary btn-block mt-3" (click)="submit()" [attr.data-test]="'login-button' | dsBrowserOnly">
    <i class="fas fa-sign-in-alt"></i> 
    {{"login.form.submit" | translate}}
  </button>
</form>

<!-- <div class="mt-2">
  <a class="dropdown-item" *ngIf="canRegister$ | async" [routerLink]="[getRegisterRoute()]" [attr.data-test]="'register' | dsBrowserOnly" role="menuitem">
    {{ 'login.form.new-user' | translate }}
  </a>
  <a class="dropdown-item" [routerLink]="[getForgotRoute()]" [attr.data-test]="'forgot' | dsBrowserOnly" role="menuitem">
    {{ 'login.form.forgot-password' | translate }}
  </a>
</div> -->
